MDBBadge {
    margin-left: 200px;
}

.notification {
    margin-bottom: 5px;
}

@font-face {
    font-family: 'DKLemonYellowSun';
    src: local('DKLemonYellowSun'), url(./fonts/DKLemonYellowSun.otf) format('opentype');
}