.lead {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.jumbotron {
    padding: 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}