#plx-collection {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

#plx-left {
    /* border: 1px solid black; */
    width: 60%;
    padding: 1%;
}

#plx-right {
    /* border: 1px solid blue; */
    width: 40%
}

.react-parallax {
    margin-bottom: 20px;
}

.plx img{
    box-shadow: 0 0 5px 5px black;
}