.admin-page .lead {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}

.admin-page .main-menu .jumbotron {
    padding: 10px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.admin-page .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 765px) {
    .admin-page .btn {
        font-size: 0.6rem
    }
}