.collection {
    overflow: hidden;
    padding: 10px 0;
    margin-top: 2%;

    #no-pictures-div {
        p {
            margin: 30px 0;
            padding: 0 10%;
            text-align: left;
        }
    }

    .backBtn {
        position: absolute;
        margin-left: 4%;
        font-size: 3rem;
    }
}