#contact {
    margin: 3% 0 6% 0;
    padding: 0 3%;
    line-height: 2;

    #contact-title {
        color: grey
    }

    img {
        width: 180px;
    }

    span, a {
        color: #FF680B;
    }
}