#description {
    height: 15vh;
}

#input-description-create {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-self: end;
}

#main-menu-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 11px 0 0;
}

#gallery-create {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 20px;
    flex-wrap: wrap;
}

#gallery-img img{
    width: 15vw
}

#editor {

    margin-top: 30px;

    .editor-main {
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 0 10px;
    }

    .editor-wrapper {
        // background-color: red;
    }

    .editor-toolbar {
        // background-color: blue;
    }

    .rdw-option-wrapper {
        // background-color: yellow;
        padding-top: 15px;
    }
}

.admin-page {
    display: flex;
    flex-direction: column;
}

/* Overwrite MDB Template on Create Page */
.admin-page .main-menu {
    margin-top: 0!important;
}

.create-page .jumbotron {
    padding: 20px 20px 0 20px;
    margin: 0;
}

.create-page .jumbotron h4 {
    text-align: left;
    margin: 0 0 10px 10px;
    color: grey
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-form img {
    min-width: 20%;
    /* max-width: 0%; */
    margin: 0 0 10px 0;
}

.create-form button img {
    min-width: 20%;
    /* max-width: 0%; */
    margin: 0;
}

.create-form .upload-thumbnail {
    width: 50px;
    margin-right: 10px;
}

.create-form .jumbotron {
    padding: 20px;
}

.create-form .input-group {
    margin: 0;
}

@media only screen and (min-width: 401px) {
    #upload-widget-btn {
        width: 32%;
    }
    
    .create-page {
        width: 70%
    }
}


