#footer {
    padding-left: 30px;
    justify-content: center;

    .footer-copyright {
        background-color: transparent;
    }
}

#footer-news {
        .footer-title {
            text-align: center;
            justify-content: center;
        }
}

a:hover {
    color: rgb(111, 111, 255) !important;
}

@media only screen and (max-width: 765px) {
    #footer {
        padding: 0 10px;

        .mobile {
            border-bottom: 1px solid rgb(173, 156, 156);
            margin-bottom: 20px;
        }
    }

    #footer-links {
        display: flex;
        justify-content: center;

        li {
            margin: 0 10px;
        }
    }
}