.green-font {
    color: rgb(12, 209, 12);
}

#gruene-illu-top {

    h4 {
        color: rgb(12, 209, 12);
        margin-bottom: 50px;
    }

    img {
        width: 70%;
        margin: 50px 0 20px 0;
    }
}

#gruene-illu-middle {
    display: flex;
    justify-content: space-evenly;
    img {
        width: 150px;
    }
    
}

#gruene-illu-bottom {
    .divider {
        
    }
}

#gruene-illu-left {

    
}

#gruene-illu-right {
    .btn-outline-success {
        border-radius: 20px;
        width: 280px;
        color: black!important;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
}

.gruene-illu-text {
    width: 35%;
    
    p {
        text-align: left;
        line-height: 1.7;
    }
}