#InformativeIllustration {
    margin-top: 50px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

#infografik1 {
    width: 90%;
    margin-bottom: 50px;
}

#top {
    width: 90%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    #info-text {
        text-align: left;
        padding: 20px;
        line-height: 2;

        p {
            margin: 30px 0;
        }
    }

    #infografik2 {
        width: 50%;
    }

    .title {
        color: green;
        text-align: center;
    }
}

#middle {
    display: flex; 
    flex-direction: column;
    width: 97%;

    hr {
        width: 40%;
        border-top: 1px solid green;;
    }

    strong {
        padding-top: 3px;
    }

    .divider {
        display: flex; 
        flex-direction: row;
        margin: 30px 0 5px 0;
    }
}

#bottom {
    margin-top: 30px;
    
    .container {
        padding: 0;
    }

    .infografik{
        width: 100%;
        margin: 10px;
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1188px;
        }
    }
}
        

@media only screen and (max-width: 765px) {
    #InformativeIllustration {
        margin-top: 5px;
    }    

    #infografik1 {
        margin-bottom: 20px;
    }

    #top {
        flex-direction: column;
        align-items: center;

        .title {
            margin-top: 20px;
            text-align: center;
        }

        #infografik2 {
            width: 90%;
        }

        #info-text {
            line-height: 1.5;
            padding: 2px;
        }
    }

    #middle {
        hr {
            width: 25%
        }
    }

    #bottom {

        display: flex;
        justify-content: center;
       
        .row {
            width: 100%;
        }
        
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .infografik {
            margin: 10px 0;
        }
    }
    
}