.login-box {
    margin-top: 100px;
}

/* //TODO: Make this box mobile friendly */
.login-box .container {
    width: 50vw
}

.login-box .text-center {
    display: flex;
    justify-content: center
}

@media only screen and (max-width: 361px) {
    .login-box {
        margin: 20px 0 20px 0;
    }
}