#maxi-news {

    width: 90%;

    a {
        color: black;
    }

    .Ripple-parent {
        width: fit-content;
        // display: flex;
        // align-items: flex-end;
    }

    span {
        margin: 0 5px;
    }
}