#mini-news {
    background-color: inherit;
    padding: 0!important;
    margin: 0!important;

    p {
        font-size: 0.7rem;
        margin: 0;
    }

    img {
        width: 100%
    }

    .row {
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0
    }

    .col {
        padding: 0;
    }

    .card-body {
        padding: 0.2rem 0.3rem;
        margin: 0.2rem 0;
    }

    .flex-row {
        align-items: center;
         
        .Ripple-parent {
            height: fit-content;
        }
    }
}

#footer-title-category {
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow: hidden;
    flex-wrap: wrap;

    i {
        margin: 0;
        padding-right: 0.2rem!important;
    }

    p {
        margin: 0!important;
    }

    a {
        margin-right: 0.5vw
    }
}

#footer-news-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    span {
        margin-right: 0.4vw
    }   
}

@media only screen and (max-width: 765px) {
    .card-body {
        margin-bottom: 2vh;
    }

    #footer-title-category  {
        direction: flex;
        justify-content: space-between;
    }

    #footer-news-info {
        padding: 0;

        span {
            margin-right: 1vw
        }           
    }

    #mini-news {
        strong {
            font-size: 0.7rem
        }
    }
}