.news {
    overflow: hidden;
    padding: 10px 0;
    margin-top: 2%;

    #no-pictures-div {
        p {
            margin: 30px 0;
            padding: 0 10%;
            text-align: left;
        }

        img {
            margin-top: 20px;
            width: 95%;
        }
    }

    .description {
        padding: 0 10%
    }

    .backBtn {
        position: absolute;
        margin-left: 4%;
        font-size: 3rem;
    }

    .rdw-editor-main {
        overflow: hidden;
    }

    .news-title-pic {
        max-width: 70%;
    }

    #plx-news {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .news-left {
            width: 50%;
            padding: 1%;
            img {
                margin: 1% 0;
                width: 100%;
            }
        }

        .news-right {
            width: 50%;
            .DraftEditor-editorContainer {
                width: 90%;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .news {
        #plx-news {
            .news-left {
                width: 30%
            }
        }
    }
}

@media only screen and (max-width: 361px) {
    .news {
        .backBtn {
            margin-left: 2%;
            font-size: 2rem;
        }

        #plx-news {
            margin-top: 0;
            .news-right {
                width: 100%;
            }
        }
    }
}