#news {
    #maxi-news-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .card {
        padding: 0!important;
        margin: 10px 0 0 0!important;
    }
}