#preferences {

    display: flex;
    flex-direction: column;

    #save-button {
        display: flex;
        justify-content: flex-end;
        width: 30%;
        align-self: flex-end;
        margin: 0 0px 10px 0px;
    }

    input {
        align-self: flex-end;
    }

    .category-header {
        justify-content: space-between;
        align-items: center;

        button {
            width: 35%;
            font-size: 0.7rem;
        }
    }

    .reverse {
        flex-direction: row-reverse;
        justify-content: flex-end!important;
        align-content: center;

        input {
            margin: 0 20px 9px 0;
        }


    }

    .preferences {
        display: flex;
        justify-content: center;
    }

    .jumbotron {
        margin: 15px 0;
        padding: 10px 10px 20px 10px;
        min-height: 200px;
    }

    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}